<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>SXM Activator</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <script>
        function info() {
            document.getElementById("info").classList.toggle("show");
            document.getElementById("info").classList.toggle("hide");
        }

        function copy() {
            let text = document.getElementById("info-copy").textContent;
            text = text.replaceAll(' ', '').replaceAll('\n\n', '\n').replace(/^\s*\n/gm, '');
            navigator.clipboard.writeText(text);
            document.querySelector('#copy').textContent = 'Copied!';
        }
    </script>
</head>
<body>
    <div class="box">
        {% if result and result.success %}
            <img alt="success" class="status" onclick="info()" src="{{ url_for('static', filename='images/success.png') }}">
        {% elif result and not result.success %}
            <img alt="failure" class="status" onclick="info()" src="{{ url_for('static', filename='images/failure.png') }}">
        {% endif %}
        <form method="post">
            <label>
                <input type="text" name="radio_id"  class="radio_id_entry"
                       placeholder="Radio ID"
                       value="{{ request.form['radio_id'] }}">
            </label>
            <button type="submit" class="button">Activate</button>
        </form>
        {% if result and result.responses %}
        <div class="info hide" id="info">
            <button id="copy" onclick="copy()">Copy</button>
            <div id="info-copy">
            {% for key, value in result.responses.items() %}
                <span class="response-key">{{ key.upper() }}</span>
                <span class="response-value">{{ value }}</span>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
